<footer class="footer">
  <div class="footer__inner">

    <div>
      <a href="http://mozilla.org">
        <img class="footer__logo" src="{{asset "img/moz-logo.svg"}}" />
      </a>
    </div>
    <div>
      <span class="footer__title">Additional Links</span>
      <ul class="footer__list">
        <li>
          <a href="https://vr.mozilla.org">Mozilla Mixed Reality</a>
        </li>
        <li>
          <a href="https://aframe.io/">A-Frame</a>
        </li>
        <li>
          <a href="https://aframe.io/blog/">A-Frame Blog</a>
        </li>
        <li>
          <a href="https://twitter.com/mozillareality">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/mozillareality">GitHub</a>
        </li>
      </ul>
    </div>
    <div>
      <span class="footer__title">Mozilla</span>
      <ul class="footer__list">
        <li>
          <a href="https://www.mozilla.org/about/">About</a>
        </li>
        <li>
          <a href="https://www.mozilla.org/contact/">Contact Us</a>
        </li>
        <li>
          <a href="https://donate.mozilla.org/en-US/?presets=100,50,25,15&amount=50&utm_source=mozilla.org&utm_medium=referral&utm_content=footer&currency=usd">Donate</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__legal">
    <ul class="footer__legal-list">
      <li>
        <a href="https://www.mozilla.org/privacy/">Privacy</a>
      </li>
      <li>
        <a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a>
      </li>
      <li>
        <a href="https://www.mozilla.org/about/legal/">Legal</a>
      </li>
    </ul>
  </div>
</footer>
