<nav class="site-nav">
    <div class="site-nav-left">
        <a href="{{@blog.url}}"><img class="site-nav__logo" src="{{asset "img/logo.svg"}}" /></a>
    </div>
    <div class="site-nav-right">
         {{#if @blog.navigation}} {{navigation}} {{/if}}
    </div>
</nav>
