{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
  <div class="inner">
    {{> "site-nav" logoImage="img/moz-logo-black.svg"}}
  </div>
</header>

<div class="outer">
  <div class="inner">
    <h1 style="font-weight: 400; margin-top: 2rem; margin-bottom: 0;">Mozilla Mixed Reality Blog</h1>
  </div>
</div>


{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
  <div class="inner">

    <div class="post-feed">
      {{#foreach posts}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}

      {{/foreach}}
    </div>

  </div>
</main>
